html
  head
    title project
    style
      include style.css
  body
    img(src='http://34.120.23.126/image' class='dailyImg')
    form(action="http://34.120.23.126/" method="POST")
      input(type="text" name="todo" id="todo" value= '' placeholder="" maxlength="140")
      input(type="submit") 
    ol
      each val in todos
        li= val